.whole {
  background-color: rgb(218, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
  margin: 0;
}

.form {
  width: 544px;
  height: 624px;
  border-radius: 30px;
  background-color: white;
}

.form__header {
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  color: black;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.form__header_span {
  font-size: 23px;
  font-weight: 400;
  color: black;
  font-style: italic;
}

.form__groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}

.form__group {
  margin-bottom: 20px;
  width: 48%;
}

.form__label {
  display: block;
  width: 104px;
  height: 16px;
  margin-left: 66px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
  margin-left: 0;
  padding-left: 40px;
}

.form__input {
  width: 226;
  height: 40;
  opacity: 1;
  top: 130px;
  left: 40px;
  border-radius: 30px;
  border-width: 1px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.form__input:focus {
  height: 50;
  transition: height 3s ease 2s;
}

.comm {
  margin-left: 40px;
}

.comm__input {
  width: 464;
  height: 200;
  opacity: 1;
  top: 308px;
  left: 40px;
  border-radius: 30px;
  border-width: 1px;
  font-family: Roboto;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 20px;
  padding-top: 20px;
}

.b {
  display: flex;
  justify-content: center;
}

.form__button {
  width: 220;
  height: 40;
  opacity: 1;
  top: 532px;
  left: 160px;
  border-radius: 30px;
  border: #ec1c24;
  background-color: #ec1c24;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 20px;
}

.form__button:hover {
background-color: black;
transition: background-color 2s linear;
}
