.both {
  display: flex;
  justify-content: space-around;
}

.first,
.second {
  margin: 50px 0px 0px 100px;
}

.both__head {
  font-size: 48px;
  font-weight: 600;
}

.orange,
.blue {
  width: 104;
  height: 48;
  padding-right: 24px;
  padding-left: 24px;
  border: none;
  color: white;
  font-size: 16px;
  background-color: #ff6636;
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.orange:hover {
  background-color: #cc522b;
  box-shadow: 0 4px 8px rgba(131, 40, 9, 0.3);
}

.orange:disabled {
  background-color: #ffddd1;
  cursor: not-allowed;
  box-shadow: none;
}

.blue {
  background-color: #564ffd !important;
}

.blue:hover {
  background-color: #453fca;
  box-shadow: 0 4px 8px #0e097c;
}

.blue:disabled {
  background-color: #cdcbfe;
  cursor: not-allowed;
  box-shadow: none;
}

.green,
.red {
  width: 104;
  height: 48;
  font-size: 16px;
  background-color: white;
  color: #23bd33;
  border: none;
  border-bottom: 2px solid transparent;
  padding-left: 0px;
  transition: all 0.5s ease-in-out;
}

.green:hover {
  border-bottom-color: #23bd33;
}

.red {
  color: #e34444 !important;
}

.red:hover {
  border-bottom-color: #e34444;
}

#inp {
  width: 312;
  height: 48;
  border-width: 1px;
  border-color: #e9eaf0;
  transition: all 0.5s ease-in-out;
}

#inp:hover {
  border-width: 3px;
  border-color: #ffddd1;
  outline: none;
}

#inp:focus {
  outline: none;
  border-width: 1px;
  border-color: #ff6636;
}

.second__select {
  gap: 12px;
  width: 312px;
  height: 32px;
  border-color: white;
}

.second__select_norm {
  border: none;
  background-color: white;
  cursor: pointer;
  color: #6E7485;
}

.second__select_norm:hover {
  background-color: #ffeee8 !important;
}

.second__select_hidden {
  display: none;
}
